<div class="bigContainerGray">
  <div class="box-blue">
    <h5>
      Without you, we'd be nowhere
    </h5>
    <h6>
      Thank you for helping us make SweatNet's the best it can be. Please send any feedback to rachel@sweatnet.com, and don't hold back! 
    </h6>
    <div class="form">
      <h5 class="success">
        Enter your alpha credentials here to get started:
      </h5>
      <div class="form-inside">
        <frm-login></frm-login>
      </div>
    </div>
  </div>
</div>