<div class="container">
  <header class="under">
    <div class="display">
      SweatNet
      <h1>
        Find fitness that fits your life
      </h1>
    </div>
  </header>
  <div class="container-form">
    <h3>
      Request an early invite:
    </h3>
    <div class="form row">
      <div class="col-md-9">
        <input type="text" name="email" id="email" value="Enter your email address">
      </div>
      <div class="col-md-3">
        <supper-button></supper-button>

      </div>
    </div>
  </div>
</div>
