<div class="bigContainer">
<div class="container">
  <header class="under">
    <div class="display">
      SweatNet
      <h1>
        Find fitness that fits your life.
      </h1>
    </div>
  </header>
  <div class="container-form">
    <h3>
      Request an early invite:
    </h3>
    <div class="form row">
      <div class="col-md-9 no-padding">
        <input type="text" name="email" id="email" value="Enter your email address">
      </div>
      <div class="col-md-3">
        
        <name-tag></name-tag>

      </div>
    </div>
  </div>
  <div class="col-md-12 message-response">
  </div>
  <div class="col-md-12 container-login">
    <h3>
      Alpha users <a href="/alpha-login">log in here</a>
    </h3>
  </div>
</div>
</div>
