<div class="container">
  <header class="under">
    <div class="display">
      SweatNet
      <h1>
        Find fitness that fits your life.
      </h1>
    </div>
  </header>
  <div class="container-form">
    <h3>
      Request an early invite:
    </h3>
    <div class="form row">
      
        
        <name-tag></name-tag>

      
    </div>
  </div>
  <div class="col-md-12 message-response">
  </div>
  <div class="col-md-12 container-login">
    <h3 class="lighter">
      Alpha users <a href="#" data-toggle="modal" data-target="#modalLogin">log in here</a>
    </h3>
  </div>
</div>
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-backdrop fade in" style="height: 100%;"></div>
    <div class="modal-content box-blue">
      <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body">
        <h3>
          Without you, we'd be nowhere
        </h3>
        <p class="marginTop30">
          Thank you for helping us make SweatNet's the best it can be. Please send any feedback to rachel@sweatnet.com, and don't hold back! 
        </p>
        <div class="form">
          <h4 class="success">
            Enter your alpha credentials here:
          </h4>
          <div class="message-error error" >
          </div>
          <div class="form-inside">
            <frm-login></frm-login>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
</div>
