<!--
 * This is a manifest file that'll be compiled into application.html, which will include all the files
 * listed below and their dependencies.
 *
 * Any html files within this directory, lib/assets/components, or vendor/assets/components
 * can be referenced here using a relative path.
 *= require polymer/polymer
 *= require paper-button/paper-button
 *= require paper-input/paper-input
*= require core-input/core-input
*= require core-scaffold/core-scaffold
*= require core-toolbar/core-toolbar
*= require core-header-panel/core-header-panel
*= require core-menu/core-menu
*= require core-drawer-panel/core-drawer-panel
*= require paper-item/paper-item
*= require paper-icon-button/paper-icon-button
*= require core-icons/core-icons
*= require core-animated-pages/core-animated-pages
*= require core-transition/core-transition
 *= require name-tag/name-tag
*= require frm-login/frm-login
 *= require_tree .
-->
