<!--
 * This is a manifest file that'll be compiled into application.html, which will include all the files
 * listed below and their dependencies.
 *
 * Any html files within this directory, lib/assets/components, or vendor/assets/components
 * can be referenced here using a relative path.
 *= require polymer/polymer
 *= require paper-button/paper-button
 *= require paper-input/paper-input
 *= require core-input/core-input
 *= require name-tag/name-tag
 *= require frm-login/frm-login
 *= require core-collapse/core-collapse
 *= require core-dropdown/core-dropdown
 *= require core-icons/core-icons
 *= require core-icon-button/core-icon-button
 *= require core-item/core-item
 *= require core-menu/core-menu
 *= require core-menu-button/core-menu-button
 *= require paper-dropdown/paper-dropdown
 *= require paper-item/paper-item
 *= require paper-dropdown-menu/paper-dropdown-menu
 *= require_tree .
-->
