<div class="main_container">
	<div class="header">
			<div class="logo">SweatNet</div>
			<div class="toggle-menu"> <a href="#"><img src="images/nav_icon.png" width="27" height="16" alt="Nav" /></a></div>
	</div>
	
	<div class="clear"></div>
	<div class="banner">
		<h1>Find fitness that fits your life</h1>
		<h3>Discover classes and private instruction that are convenient with your  schedule,easy on your budget,and satisfying to your soul</h3>
		
		<div class="quick_search">
		 
			<dl class="dropdown">
				<dt><a href="javascript:void(0)"><span>All Classes</span></a></dt>
				<dd>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0)">Baree</a></li>
						<li><a href="javascript:void(0)">Bootcamp</a></li>
						<li><a href="javascript:void(0)">Boxing</a></li>
						<li><a href="javascript:void(0)">Cardio</a></li>
						<li><a href="javascript:void(0)">Crossfit</a></li>
						<li><a href="javascript:void(0)">France</a></li>
					</ul>
				</dd>
			</dl>
	
			<div class="search_feild"><input name="" type="text" placeholder="enter address or zip" /></div>
	
			<dl class="date_time">
				<dt><a href="javascript:void(0)"><span>select date and time</span></a></dt>
				<dd>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0)">Today</a>
							
						</li>
						<li><a href="javascript:void(0)">Tomorrow</a></li>
						<li><a href="javascript:void(0)">This Week</a></li>
						<li><a href="javascript:void(0)">More Dates</a></li>
					 
					</ul>
				</dd>
			</dl>

		</div>
		 
		<div class="fitnrss_btn"><a href="#">Find fitness</a>
		</div>
	</div>

	<div class="browser-class-section">
		<h2>Browse Classes in
			<span> 
				<select>
					<option value="volvo">new york,NY</option>
					<option value="saab">Saab</option>
					<option value="mercedes">Mercedes</option>
					<option value="audi">Audi</option>
				</select>
			</span>
		</h2>
		<div class="card_collection">
			<a href="#" class="zoom zooming_effect"> 
				<img src="/assets/gym.jpg" />   
				<div class="card_collection_overlay"></div>
				<div class="card_title">BARRE</div>
			</a>

			<a href="javascript:void(0);" data-color="#e74c3c" class="zoom zooming_effect">  
				<img src="/assets/gym.jpg" />   
				<div class="card_collection_overlay"></div>
				<div class="card_title">BOOTCAMP</div>

			</a>

			<a href="javascript:void(0);" data-color="#e74c3c" class="zoom zooming_effect">  
				<img src="/assets/gym.jpg" />   
				<div class="card_collection_overlay"></div>
				<div class="card_title">CREW</div>
			</a>
		</div>
	</div>
</div>