<div class="container">
  <header class="under">
    <div class="display">
      <h1>Find fitness that fits your life.</h1>
      <h3>
        Discover classes and private instruction that are convinient </br>
        with your schedule, easy on your budget, and satifying to your soul.
      </h3>
    </div>
  </header>

  <div class="quick-search-filter-container">
    <paper-dropdown-menu class="paper-dropdown-menu-label" label="Your favorite pastry">
      <paper-dropdown class="dropdown">
        <core-menu class="paper-menu">
          <template repeat="{{pastries}}">
            <paper-item>{{}}</paper-item>
          </template>
        </core-menu>
      </paper-dropdown>
    </paper-dropdown-menu>
  </div>
</div>
