// Place all the styles related to the under_construction controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$bright-blue: #4BC4F3;
$helvetica: 'Helvetica', 'Arial', sans-serif;
body
{
    font-family: $helvetica;
    font-size: 14pt;
    line-height: 140%;
    letter-spacing: 9%;
}
h1{
  font-family: $helvetica;
  font-size: 36pt;
  line-height: 140%;
  letter-spacing: 11%;
}
h2{
  font-family: $helvetica;
  font-weight: bold;
  font-size: 26pt;
  line-height: 140%;
  letter-spacing: 11%;
}
h3{
  font-family: $helvetica;
  font-weight: 700;
  font-size: 24pt;
  line-height: 140%;
  letter-spacing: 11%;
}
h4{
  font-family: $helvetica;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18pt;
  line-height: 140%;
  letter-spacing: 12%;
}
h5{
  font-family: $helvetica;
  font-weight: 700;
  font-size: 18pt;
  line-height: 140%;
  letter-spacing: 7%;
}
h6{
  font-family: $helvetica;
  font-size: 16pt;
  line-height: 140%;
  letter-spacing: 11%;
}
.display{
  font-family: $helvetica;
  font-size: 55pt;
  line-height: 140%;
  letter-spacing: 11%;
}
body{
  
}