$bright-blue: #4BC4F3;
$light-blue: #81D4FA;
$light-yellow: #FEF59D;
$helvetica: 'Helvetica', 'Arial', sans-serif;
html {
    height: 100%;
}
body
{
    font-family: $helvetica;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.3em;
    color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(75,196,243,1)), to(rgba(75,196,243,0.6)));
    /* mozilla example - FF3.6+ */
    background-image: -moz-linear-gradient(
      rgba(75,196,243,1) 0%, rgba(75,196,243,0.6) 95%
    );
    /* approximately a 33% opacity on blue */
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr=$bright-blueFF, endColorstr=$bright-blueFF
    );

    /* IE8 uses -ms-filter for whatever reason... */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr=$bright-blueFF, endColorstr=$bright-blueFF
    );
    height: 100%;
       margin: 0;
       background-repeat: no-repeat;
       background-attachment: fixed;
}
h1{
  font-family: $helvetica;
  font-size: 30px;
  line-height: 140%;
  letter-spacing: 0.3em;
}
h2{
  font-family: $helvetica;
  font-weight: bold;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.3em;
}
h3{
  font-family: $helvetica;
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.3em;
}
h4{
  font-family: $helvetica;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.3em;
}
h5{
  font-family: $helvetica;
  font-weight: 700;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.3em;
}
h6{
  font-family: $helvetica;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.3em;
}
.display{
  font-family: $helvetica;
  font-size: 45px;
  line-height: 140%;
  letter-spacing: 0.3em;
}
.bigContainer{
 width:100%;
 height: 100%;
 display: list-item;
 padding-bottom: 40px;
}

.bigContainerGray{
 width:100%;
 height: 100%;
 display: flex;
 padding-bottom: 40px;
}

.no-padding{
  padding-left: 10px !important;
  padding-right: 0px!important;
}
.message-response{
  margin-top: 20px;
  text-align: center;
}
.success{
  color: #FEEE58;
}
.error{
  color: #EC407A;
}
.marginTop30{
  margin-top: 30px;
}
.lighter{
  font-weight: lighter;
}