<polymer-element name="frm-login">
  <template>
    <link rel="stylesheet" href="frm-login.css">
    <paper-input-decorator id="paperemail" label="Email Address" on-change="{{validateButton}}" error="Must be a valid email!" >
        <input id="email" is="core-input" autocomplete="off" pattern="^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$" >
    </paper-input-decorator>
    <paper-input-decorator id="paperpassword" label="Password" on-change="{{validateButton}}" error="Must be a valid password!">
        <input id="password" is="core-input" type="password" required >
    </paper-input-decorator>
   
    <paper-button on-tap="{{signIn}}" id="submitb" raised disabled>TRY IT OUT</paper-button>
  </template>
  <script>
  Polymer({
       counter: 0, // Default value
       increment: function() {
         
         console.log("cambioo");
       },
       validateButton: function() {
         var decorator = this.$.paperemail;
         var input = this.$.email;
         decorator.isInvalid = !input.validity.valid;
        
         var decoratorpass = this.$.paperpassword;
         var inputpass = this.$.password;
         decoratorpass.isInvalid = !inputpass.validity.valid;
                  
         if(!decorator.isInvalid && !decoratorpass.isInvalid){
           this.$.submitb.removeAttribute("disabled");
         }else{
           this.$.submitb.setAttribute("disabled","disabled");
         }
       },
       signIn: function(){
         var email = this.$.email.value;
         var password = this.$.password.value;
         $.post( "/api/users/sign_in", {"user": {"email": email, "password": password}},function(data) {
             if(data.success ){
               window.location= "/home";
             }else{
               $(".message-error").html("Invalid Email/password, try again!");
             }
         }).fail(function() {
             $(".message-error").html("Invalid Email/password, try again!");
        });
       }
     });
     function showError(){
       $(".message-response").addClass("error");
       $(".message-response").removeClass("success");
       $(".message-response").html("<h2>Please enter a valid email address and try again</h2>");
     }
  </script>
</polymer-element> 