<polymer-element name="sw-map">
  <template>
         <google-map disableDefaultUI  latitude="37.779" longitude="-122.3300" zoom="13" styles='[
    {
    "featureType": "landscape", "elementType": "labels",
    "stylers": [ 
      { "visibility": "off"
     } ]
    },
    {
    "featureType": "transit", 
    "elementType": "labels",
    "stylers": [{
      "visibility": "off"
      }]
    },
    {
      "featureType": "poi",
      "elementType": "labels", 
      "stylers": [{
        "visibility": "off"
        }]
    },
    {
      "featureType": "water",
      "elementType": "labels", 
      "stylers": [{
        "visibility": "off"
        }]
    },
    {
      "featureType": "road",
      "elementType": "labels.icon", 
      "stylers": [{
        "visibility": "off"
        }]
    },
    {
      "stylers": [
        {"hue": "#00aaff" },
        {"saturation": -100 },
        {"gamma": 2.15},
        {"lightness": 12}
      ]
    },
    {
      "featureType": "road",
      "elementType": "labels.text.fill",
      "stylers": [{
        "visibility": "on"
        },
        {"lightness": 24}]
    },
    {
      "featureType": "road",
      "elementType": "geometry",
      "stylers": [{
        "lightness": 57
        }]
    }
    ]'>
       <google-map-marker clickEvents="true" mouseEvents="true" latitude="37.777" longitude="-122.38911" icon="/assets/small-triangle.png"  on-google-map-marker-click={{markerClick}}  on-google-map-marker-mouseover={{markerMouseOver}} on-google-map-marker-mouseout={{markerMouseOut}}></google-map-marker>
       
         <google-map-marker clickEvents="true" mouseEvents="true" latitude="37.763" longitude="-122.38911" icon="/assets/small-triangle.png"  on-google-map-marker-click={{markerClick}}  on-google-map-marker-mouseover={{markerMouseOver}} on-google-map-marker-mouseout={{markerMouseOut}}></google-map-marker>
         
           <google-map-marker clickEvents="true" mouseEvents="true" latitude="37.760" longitude="-122.38911" icon="/assets/small-triangle.png"  on-google-map-marker-click={{markerClick}}  on-google-map-marker-mouseover={{markerMouseOver}} on-google-map-marker-mouseout={{markerMouseOut}}></google-map-marker>
           
             <google-map-marker clickEvents="true" mouseEvents="true" latitude="37.777" longitude="-122.39800" icon="/assets/small-triangle.png"  on-google-map-marker-click={{markerClick}}  on-google-map-marker-mouseover={{markerMouseOver}} on-google-map-marker-mouseout={{markerMouseOut}}></google-map-marker>
             
             <google-map-marker clickEvents="true" mouseEvents="true" latitude="37.777" longitude="-122.40800" icon="/assets/small-triangle.png"  on-google-map-marker-click={{markerClick}}  on-google-map-marker-mouseover={{markerMouseOver}} on-google-map-marker-mouseout={{markerMouseOut}}></google-map-marker>
             
       </google-map>
  </template>
  <script>
  Polymer({
      counter: 0, // Default value
    markerMouseOver: function(e, detail, sender) {
      console.log("pasooo");
      $(".ping-extend").show();
    },
    markerMouseOut: function(e, detail, sender) {
      console.log("pasooo");
      $(".ping-extend").hide();
    },
       markerClick: function(e, detail, sender) {
         console.log("aqui");
       }
     });
     function showError(message){
      
     }
  </script>
</polymer-element> 