#submit-button {
    background: #FEEE58;
    color: #4BC4F3;
    font-weight: bold;
    width: 100%;
    font-size: 14px;
}
#submit-button:hover {
  background-color: #FEF59D;
}
#email:-webkit-autofill {
    background-color: #2a2a2a !important;
}
paper-input-decorator /deep/ ::-webkit-input-placeholder {
    /* platform specific rules for placeholder text */
    color: white;
}
paper-input-decorator /deep/ ::-moz-placeholder {
    color: white;
}
paper-input-decorator /deep/ :-ms-input-placeholder {
    color: white;
}

paper-input-decorator /deep/ .unfocused-underline {
    /* line color when the input is unfocused */
    background-color: white;
}
paper-input-decorator /deep/ .focused-underline {
    /* line color when the input is unfocused */
    background-color: #FEEE58;
}